<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Panel</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<div class="container">
		<div class="bg-circle"></div>
		<div class="bg-circle"></div>
		<div class="bg-rectangle"></div>
		<h1>Admin Panel</h1>
		<a href="addLibrarian" class="btn">Add Librarian</a>
		<a href="viewLibrarians" class="btn">View Librarian</a>
		<a href="deleteLibrarian" class="btn">Delete Librarian</a>
		<a href="logout" class="btn">Logout</a>
	</div>
</body>
</html>
