<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Login</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="bg-circle"></div>
		<div class="bg-circle"></div>
		<div class="bg-rectangle"></div>
		<h1>Admin Login</h1>
		<form action="authenticateAdmin" method="post">
			<input type="text" id="userid" name="userid" placeholder="User ID" required>
			<input type="password" id="password" name="password" placeholder="Password" required>
			<input type="submit" value="Login" class="btn">
		</form>
	</div>
</body>
</html>
