<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Delete Librarian</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container">
		<div class="bg-circle"></div>
		<div class="bg-circle"></div>
		<div class="bg-rectangle"></div>
		<h1>Delete Librarian</h1>
		<form action="deleteLibrarians" method="post">
			<input type="text" name="name" placeholder="Name" required><br>
			<button type="submit" class="btn">Delete Librarian</button>
			<a href="adminPanel" class="btn">Back to Admin Panel</a> <a
				href="logout.jsp" class="btn">Logout</a>
			<!-- Add logout link -->
		</form>
	</div>
</body>
</html>
