<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HOME</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="bg-circle"></div>
		<div class="bg-circle"></div>
		<div class="bg-rectangle"></div>
		<h1>Library Management System</h1>
		<a href="adminLogin" class="btn">Admin Login</a>
		<a href="librarianLogin" class="btn">Librarian Login</a>
	</div>
</body>
</html>
