<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Librarian Panel</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container" style = "max-width: 1050px;">
		<div class="bg-circle"></div>
		<div class="bg-circle"></div>
		<div class="bg-rectangle"></div>
		<h1>Librarian Panel</h1>
		<a href="addBook" class="btn">Add Books</a>
		<a href="viewBooks" class="btn">View Books</a>
		<a href="issueBook" class="btn">Issue Book</a>
		<a href="viewIssuedBooks" class="btn">View Issued Books</a>
		<a href="returnBook" class="btn">Return Book</a>
		<a href="logout" class="btn">Logout</a>
	</div>
</body>
</html>
