<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Return Book</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="bg-circle"></div>
		<div class="bg-circle"></div>
		<div class="bg-rectangle"></div>
		<h1>Return Book</h1>
		<form action="returnTheBook" method="post">
			<input type="text" name="bookNum" placeholder="Book Number" required><br>
			<input type="text" name="studentId" placeholder="Student ID" required><br>
			<button type="submit" class="btn">Return Book</button>
			<a href="librarianPanel.jsp" class="btn">Back to Librarian Panel</a> <a
				href="logout.jsp" class="btn">Logout</a>
			<!-- Add logout link -->
		</form>
	</div>
</body>
</html>
