<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Books Data</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="bg-circle"></div>
		<div class="bg-circle"></div>
		<div class="bg-rectangle"></div>
		<h1>Books Data</h1>

		<table>
			<thead>
				<tr>
					<th>Book Number</th>
					<th>Name</th>
					<th>Author</th>
					<th>Publisher</th>
					<th>Quantity</th>
					<th>Issued Books</th>
				<!--	Add more columns as needed -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${books}">
					<td th:text="${book.bookNum}"/>
					<td th:text="${book.bookName}"/>
					<td th:text="${book.author}"/>
					<td th:text="${book.publisher}"/>
					<td th:text="${book.quantity}"/>
					<td th:text="${book.issuedBookQty}"/>
					<!-- Add more columns as needed -->
				</tr>
			</tbody>
		</table>

		<a href="librarianPanel" class="btn">Back to Librarian Panel</a>
		<a href="logout" class="btn">Logout</a> <!-- Add logout link -->
	</div>
</body>
</html>
